---
import "../styles/global.css";

import Layout from '../layouts/Layout.astro';
import Recurso from '../components/Recurso.astro';
---

<Layout currentPage="Recursos">
    <section>
		<Recurso />
	</section>
</Layout>