---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<div class="card_dental block p-6 border border-default rounded-base shadow-xs">
    <h5
        class="mb-3 text-2xl font-semibold tracking-tight text-heading leading-8"
    >
        {title}
    </h5>
    <p class="text-body">
        {description}
    </p>
</div>

<style>
    .card_dental {
        background-color: #f0f7ff;
        border-left: 3px solid #1783db;
    }

    .card_dental:hover {
        background-color: #e3f2ff;
    }
</style>
